<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkW5VVEhvdPsNhnylPe4cG6aq6e5gcT7A</string>
	<key>GCM_SENDER_ID</key>
	<string>160834834009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-24cm0138.JecWeek</string>
	<key>PROJECT_ID</key>
	<string>jecweek</string>
	<key>STORAGE_BUCKET</key>
	<string>jecweek.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160834834009:ios:cde4a95c944ba5c3512b48</string>
</dict>
</plist>